{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {% parent %}
  <style>

  </style>
  <!-- <link rel="stylesheet" href="custom.css"> -->
{% endblock %}

{% block content %}
  <div class="page-header">
    <h3>All Services</h3>
    <p><a href="sendSMS">Send SMS</a></p>
    <p><a href="sendNotification">Send Notification</a></p>
    <p><a href="addCoupon">Add Coupon</a></p>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">

  </script>
{% endblock %}
