{% extends 'layout.html' %}

{% block title %}Bookings - Home{% endblock %}

{% block head %}
  {% parent %}
  <!-- <link rel="stylesheet" href="custom.css"> -->
  <style>
    .tabs-content table, .tabs-content, .tabs{
        width: 100%;
    }
    .tabs {
      background-color: #ccc;
    }
  </style>
{% endblock %}

{% block content %}
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar tabs">
    <a href="#placed" class="mdl-tabs__tab is-active">Just Placed</a>
    <a href="#confirmed" class="mdl-tabs__tab">Confirmed</a>
    <a href="#dispatched" class="mdl-tabs__tab">Dispatched</a>
    <a href="#pickups" class="mdl-tabs__tab">Pickups</a>
  </div>
  <main class="tabs-content">
    <section class="mdl-tabs__panel is-active" id="placed">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Order Id</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th>Mobile</th>
              <th class="mdl-data-table__cell--non-numeric">Address</th>
              <th class="mdl-data-table__cell--non-numeric">Books</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in PLACED %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><a href="booking/{{booking.orderId}}">{{booking.orderId}}</a></td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userEmail}}</td>
              <td>{{booking.userMobile}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userAddress}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <div>
                  {% for rental in booking.rentals %}
                  <span data-rentalid={{rental._id.toString()}} class="placed-item">{{rental.item.title}} - {{rental.item.pricing.rent}}</span>
                  <br/>
                  {% endfor %}
                  <a href="#" class="btn-confirm" data-orderid="{{booking.orderId.toString()}}"> Confirm</a>
                  <a href="#" class="btn-cancel" data-orderid="{{booking.orderId.toString()}}"> Cancel </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <section class="mdl-tabs__panel" id="confirmed">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Order Id</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th>Mobile</th>
              <th class="mdl-data-table__cell--non-numeric">Address</th>
              <th class="mdl-data-table__cell--non-numeric">Books</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in CONFIRMED %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><a href="booking/{{booking.orderId}}">{{booking.orderId}}</a></td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userEmail}}</td>
              <td>{{booking.userMobile}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userAddress}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <div>
                  {% for rental in booking.rentals %}
                    {% if rental.status !== 'CANCELLED' %}
                      <span data-rentalid={{rental._id.toString()}} class="confirmed-item">{{rental.item.title}} - {{rental.item.pricing.rent}} </span>
                      <br/>
                    {% endif %}
                  {% endfor %}
                  <a href="#" data-orderid="{{booking.orderId}}" class="btn-dispatch"> Dispatch ? </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <section class="mdl-tabs__panel" id="dispatched">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Order Id</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th>Mobile</th>
              <th class="mdl-data-table__cell--non-numeric">Address</th>
              <th class="mdl-data-table__cell--non-numeric">Books</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in DISPATCHED %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><a href="booking/{{booking.orderId}}">{{booking.orderId}}</a></td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userEmail}}</td>
              <td>{{booking.userMobile}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userAddress}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <div>
                  {% for rental in booking.rentals %}
                    {% if rental.status !== 'CANCELLED' %}
                    <span data-rentalid={{rental._id.toString()}} class="dispatched-item">{{rental.item.title}} - {{rental.item.pricing.rent}} </span>
                      <br/>
                    {% endif %}
                  {% endfor %}
                  <a href="#" class="btn-delivered" data-orderid="{{booking.orderId}}"> Delivered ? </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <section class="mdl-tabs__panel" id="pickups">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Order Id</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th>Mobile</th>
              <th class="mdl-data-table__cell--non-numeric">Address</th>
              <th class="mdl-data-table__cell--non-numeric">Books</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in PICKUPS %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><a href="booking/{{booking.orderId}}">{{booking.orderId}}</a></td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userEmail}}</td>
              <td>{{booking.userMobile}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userAddress}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <div>
                  {% for rental in booking.rentals %}
                  {% set rent = rental.is_extended ? rental.extension_payment.total_payable : rental.item.pricing.rent %}
                  <span>{{rental.item.title}} - {{rent}}</span>
                  <br/>
                  {% endfor %}
                  <a href="#" class="btn-pickup" data-orderid="{{booking.orderId}}">Collected ? </a>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </main>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var $confirm      = $('.btn-confirm');
    var $placedCancel = $('.btn-cancel');
    var $dispatch     = $('.btn-dispatch');
    var $deliver      = $('.btn-delivered');
    var $pickup       = $('.btn-pickup');

    $confirm.click(function(e){
      e.preventDefault();
      //For each rental, confirm
      var orderId = $(this).data('orderid');
      var $items = $(this).parent().find('.placed-item');
      var items = {};
      $.each($items, function(){ items[$(this).data('rentalid')] = $(this).text()});

      for(item in items){
        items[item] = window.confirm('Confirm ' + items[item] + ' ?');
      }
      if(window.confirm('Are you sure ? ')) {
        sendJSON('/admin/booking/confirm', {orderId : orderId, rentals : items}).done(reload)
      }
    });

    $placedCancel.click(function(e){
      e.preventDefault();
      var orderId = $(e.target).data('orderid');
      if(window.confirm('Are you sure you want to cancel ?')) {
        sendJSON('/admin/booking/cancel', {orderId : orderId});
      }
      //Cancel booking with orderId
    });

    $dispatch.click(function(e){
      e.preventDefault();
      var orderId = $(this).data('orderid');
    //  var $items = $(this).parent().find('.confirmed-item');
      if(window.confirm('Are you sure ? ')) {
        sendJSON('/admin/booking/dispatch', {orderId : orderId}).done(reload)
      }
    });

    $deliver.click(function(e) {
      e.preventDefault();
      var orderId = $(this).data('orderid');
      if(window.confirm('Are you sure ?')) {
        sendJSON('/admin/booking/deliver', {orderId : orderId}).done(reload)
      }
    })

    $pickup.click(function(e){
      e.preventDefault();
      var orderId = $(this).data('orderid');
      if(window.confirm('Are you sure ? ')) {
        sendJSON('/admin/booking/pickup', {orderId : orderId}).done(reload);
      }
    })

    function reload(){
      window.location.reload();
    }
  </script>
{% endblock %}
