{% extends 'layout.html' %}

{% block title %}Bookings - Home{% endblock %}

{% block head %}
  {% parent %}
  <!-- <link rel="stylesheet" href="custom.css"> -->
  <style>
    .tabs-content table, .tabs-content, .tabs{
        width: 100%;
    }
    .tabs {
      background-color: #ccc;
    }
  </style>
{% endblock %}

{% block content %}
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar tabs">
    <a href="#placed" class="mdl-tabs__tab is-active">Just Placed</a>
    <a href="#confirmed" class="mdl-tabs__tab">Confirmed</a>
    <a href="#dispatched" class="mdl-tabs__tab">Dispatched</a>
    <a href="#pickups" class="mdl-tabs__tab">Pickups</a>
  </div>
  <main class="tabs-content">
    <section class="mdl-tabs__panel is-active" id="placed">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Order Id</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th>Mobile</th>
              <th class="mdl-data-table__cell--non-numeric">Address</th>
              <th class="mdl-data-table__cell--non-numeric">Books</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in PLACED %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><a href="{{booking.orderId}}">{{booking.orderId}}</a></td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userEmail}}</td>
              <td>{{booking.userMobile}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userAddress}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <div>
                  {% for rental in booking.rentals %}
                  <span>{{rental.title}} - {{rental.pricing.rent}}</span>
                  <a href="">Confirm ? </a>
                  {% endfor %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <section class="mdl-tabs__panel" id="confirmed">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Order Id</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th>Mobile</th>
              <th class="mdl-data-table__cell--non-numeric">Address</th>
              <th class="mdl-data-table__cell--non-numeric">Books</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in CONFIRMED %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{booking.orderId}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userEmail}}</td>
              <td>{{booking.userMobile}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userAddress}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <div>
                  {% for rental in booking.rentals %}
                  <span>{{rental.title}} - {{rental.pricing.rent}} </span>
                  <a href="">Dispatch ? </a>
                  {% endfor %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <section class="mdl-tabs__panel" id="dispatched">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Order Id</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th>Mobile</th>
              <th class="mdl-data-table__cell--non-numeric">Address</th>
              <th class="mdl-data-table__cell--non-numeric">Books</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in DISPATCHED %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{booking.orderId}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userEmail}}</td>
              <td>{{booking.userMobile}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userAddress}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <div>
                  {% for rental in booking.rentals %}
                  <span>{{rental.title}} - {{rental.pricing.rent}}</span>
                  <a href="">Delivered ? </a>
                  {% endfor %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    <section class="mdl-tabs__panel" id="pickups">
      <div class="page-content">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Order Id</th>
              <th class="mdl-data-table__cell--non-numeric">Email</th>
              <th>Mobile</th>
              <th class="mdl-data-table__cell--non-numeric">Address</th>
              <th class="mdl-data-table__cell--non-numeric">Books</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in PICKUPS %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{booking.orderId}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userEmail}}</td>
              <td>{{booking.userMobile}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{booking.userAddress}}</td>
              <td class="mdl-data-table__cell--non-numeric">
                <div>
                  {% for rental in booking.rentals %}
                  <span>{{rental.item.title}} - {{rental.item.pricing.rent}}</span>
                  <a href="">Collected ? </a>
                  {% endfor %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </main>
</div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/en-gb.js"></script>
  <script type="text/javascript">

  </script>
{% endblock %}
