{% extends 'layout.html' %}

{% block title %}Bookings - Home{% endblock %}

{% block head %}
  {% parent %}
  <!-- <link rel="stylesheet" href="custom.css"> -->
  <style>

  </style>
{% endblock %}

{% block content %}
<div>
  <div class="mdl-layout__tab-bar mdl-js-ripple-effect tabs">
    <a href="#fixed-tab-1" class="mdl-layout__tab is-active">PLACED</a>
    <a href="#fixed-tab-2" class="mdl-layout__tab">CONFIRMED</a>
    <a href="#fixed-tab-3" class="mdl-layout__tab">DISPATCHED</a>
    <a href="#fixed-tab-4" class="mdl-layout__tab">PICKUPS</a>
  </div>
  <div class="tabs-content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content"><!-- Your content goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content"><!-- Your content goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content"><!-- Your content goes here --></div>
    </section>
    <section class="mdl-layout__tab-panel" id="fixed-tab-4">
      <div class="page-content"><!-- Your content goes here --></div>
    </section>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">

  </script>
{% endblock %}
