{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  {% parent %}
  <style>
    .items-container {
      margin-top: 1em;
    }
    .book {
      padding-right: 0.5em;
      display: inline-block;
    }
    .book a {
      font-size: 13px;
      font-weight: 400;
    }
    .mdl-card, .category-image{
      height : 150px;
      width: 98px;
    }
  </style>
  <!-- <link rel="stylesheet" href="custom.css"> -->
{% endblock %}

{% block content %}
  <div class="page-header">
    <h3>{{ category.title }}</h3>
    <p>Add/edit/remove books from this category</p>
  </div>
  <div class="toolbar">
    <button id="btn-add" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Add Books
    </button>
    <button id="btn-cover" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Change cover
    </button>
    <button id="btn-title" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Change title
    </button>
  </div>
  <div class="items-container">
    {% for item in category.list %}
    <div class="book">
      <div class="mdl-card mdl-shadow--2dp">
        <img src="{{item.thumbs[0]}}" class="category-image">
        <div class="mdl-card__actions">
          <a href="{{category._id.toString()}}/item/{{item._id.toString()}}">{{item.title}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}

{% block scripts %}
  <script>
    $('#btn-add').click(function(e){
        var ids = window.prompt("Enter amazon ids : ");
        if(!ids.length) return;
        var arr = ids.split(',');
        $.ajax({
          url  : '',
          type : 'POST',
          data : JSON.stringify({list : arr}),
          contentType: 'application/json; charset=utf-8',
        })
        .done(function(){
          window.location.reload();
        });
    });

    $('#btn-cover').click(function(e){
      var image = window.prompt("Enter new cover : ");
      if(!image.length) return;
      $.ajax({
        url  : '',
        type : 'POST',
        data : JSON.stringify({image : image}),
        contentType: 'application/json; charset=utf-8',
      })
      .done(function(){
        window.location.reload();
      });
    })

    $('#btn-title').click(function(e){
      var title = window.prompt("Enter new title : ");
      if(!title.length) return;
      $.ajax({
        url  : '',
        type : 'POST',
        data : JSON.stringify({title : title}),
        contentType: 'application/json; charset=utf-8',
      })
      .done(function(){
        window.location.reload();
      });

    })
  </script>

{% endblock %}
